// TOP-NAV: COMPANY NAME, LOGO, AND CALL TO ACTION
.main-nav {
  display: flex;
  background-color: rgb(230, 230, 230);
  height: 83px;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 100;

  svg {
    align-self: center;
    margin-left: 40px;
  }

  .company-name {
    align-self: center;
    color: #25352C;
    margin-left: 15px;
    text-align: center;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 550;
    font-stretch: normal;
    font-size: 1.2em;
    line-height: 1.4em;
    font-family: avenir, sans-serif;

    .snow-link {
      color: #02537e;
      text-decoration: none;
    }

    .landscape-link {
      color: rgba(123, 158, 54, 1);
    }
  }
}

// CALL TO ACTION IN TOP-NAV
.call-to-action {
  display: flex;
  justify-content: center;
  background-color: rgba(123, 158, 54, 1);
  height: auto;
  width: 348px;
  margin-left: auto;

  span {
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    font-family: avenir, sans-serif;
    font-size: 18px;
    font-weight: 600;

  }
}

//TOP-NAV MOBILE VIEW
@media (max-width: 470px) {
  .call-to-action {
    display: none;
  }
}
// IFRAME TOOLTIP IN TOP-NAV LINK TO SNOW REMOVAL
.thumbnail img {
  position: absolute;
  width: 200px;
  height: auto;
  margin-top: 45px;
  margin-left: 140px;
  z-index: 30;

}
// SUB NAVBAR
.sub-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 83px;
  height: 70px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  z-index: 100;

  .nav-link {
    align-self: center;
    margin: 0 20px;
    font-family: avenir, sans-serif;
    text-decoration: none;
    color: #25352C;
    transition: 0.3s;
  }

  .nav-link:hover {
    color: rgba(123, 158, 54, 1);
  }
}

// HERO IMAGE AND TITLE SECTION
.hero-img {
  height: auto;
  width: 100%;
  margin-top: 153px;
}

.hero-block {
  position: relative;
  background-color: rgba(123, 158, 54, 1);
  height: auto;
  width: 100%;
  margin-top: -5px;
  display: flex;
  flex-direction: row;

  .hero-social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    width: 20vw;
    background-color: rgba(175, 175, 175, 1);
  }

  .hero-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;

    .hero-title {
      color: rgb(255, 255, 255);
      font-size: 3rem;
      font-family: avenir, sans-serif;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    }

    .snow-link-btn {
      margin-bottom: 30px;
    }
  }
}

// MOBILE HERO SECTION
@media (max-width: 470px) {
  .hero-block {
    position: relative;
    background-color: rgba(123, 158, 54, 1);
    height: auto;
    width: 100%;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-social-container {
      display: none;
    }

    .hero-cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70vw;

      .hero-title {
        color: rgb(255, 255, 255);
        font-size: 2rem;
        font-family: avenir, sans-serif;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
      }

      .snow-link-btn {
        margin-bottom: 30px;
      }
    }
  }
}

//INFO BOXES
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(230, 230, 230);
  padding-bottom: 50px;

  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 24vw;
    width: 24vw;
    background-color: white;
    margin-top: 50px;
    margin-left: 2vw;
    margin-right: 2vw;

    svg {
      height: auto;
      width: 12vw;
      margin-bottom: 10%;
    }

    h3 {
      font-size: calc(2vw + 5px);
      margin-bottom: 10%;
    }
  }
}

// SERVICES PAGE *Landscaping
.page-container {
  width: 100%;
  height: auto;
  background-color: rgb(230, 230, 230);
  padding-top: 160px;
  padding-bottom: 50px;
  text-align: center;

  .service-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .service-block {
      display: flex;
      flex-direction: column;
      height: 36vw;
      width: 27vw;
      background-color: white;
      margin: 1.5vw 1vw;
      padding-bottom: 20px;

      img {
        width: 100%;
        height: auto;
      }

      .book-service {
        height: auto;
        width: 100%;
        background-color: inherit;

        h2 {
          font-size: calc(2vw + 5px);
        }

        .book-button {
          width: 115px;
          height: 40px;
          border: 1px solid #5E801A;
          background-color: #5E801A;
          color: #FFFFFF;
          font-size: 15px;
          line-height: 22px;
          font-family: avenir-lt, sans-serif;
          font-weight: 600;
        }
      }
    }
  }
}

// SERVICES PAGE MOBILE VERSION
@media (max-width: 800px) {
  .page-container {
    width: 100%;
    height: auto;
    background-color: rgb(230, 230, 230);
    padding-top: 160px;
    padding-bottom: 50px;
    text-align: center;

    .service-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .service-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        background-color: white;
        margin-bottom: 2vw;

        img {
          align-self: flex-start;
          width: 50vw;
          height: auto;
        }

        .book-service {
          height: auto;
          width: 50%;
          background-color: inherit;

          h2, h4 {
            font-size: calc(3vw + 7px);
          }

          .book-button {
            width: 115px;
            height: 40px;
            border: 1px solid #5E801A;
            background-color: #5E801A;
            color: #FFFFFF;
            font-size: 15px;
            line-height: 22px;
            font-family: avenir-lt, sans-serif;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// LARGE SCREEN DEVICE SERVICES PAGE
@media (min-width: 1250px) {
  .page-container {
    width: 100%;
    height: auto;
    background-color: rgb(230, 230, 230);
    padding-top: 160px;
    padding-bottom: 50px;
    text-align: center;

    .service-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 1161px;
      margin: 0 auto;

      .service-block {
        display: flex;
        flex-direction: column;
        height: 470px;
        width: 337px;
        background-color: white;
        margin: 50px 25px;
        padding-bottom: 20px;

        img {
          width: 100%;
          height: auto;
        }

        .book-service {
          height: auto;
          width: 100%;
          background-color: inherit;

          h2 {
            font-size: 30px;
          }

          .book-button {
            width: 115px;
            height: 40px;
            border: 1px solid #5E801A;
            background-color: #5E801A;
            color: #FFFFFF;
            font-size: 15px;
            line-height: 22px;
            font-family: avenir-lt, sans-serif;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// QUOTES page
.quote-page-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  .google-map {
    position: relative;
    width: 60vw;
    height: 300px;
    margin-top: 160px;
    margin-left: 10px;

    .google-maps-input {
      position: absolute;
      margin-top: -43px;
      margin-left: 5px;
      margin-right: auto;
      width: 50%;
      max-width: 350px;
      background: #fff;
      border-radius: 8px;
      box-sizing: border-box;
      border: 1px solid transparent;
      padding: 12px 75px 11px 10px;
    }
  }

  .quote-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 159px auto auto;
    width: 35vw;
    height: 70%;
    background-color: #F9F9F9;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.35);
    overflow-y: auto;

    .job-dropdown {
      width: 135px;
      padding: 7px 10px;
      margin: 15px auto 0px auto;
    }

    label {
      font-family: omnes-cond, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      margin-left: 6%;
      margin-top: 2%;
    }

    .quote-input {
      width: 90%;
      background: #fff;
      border-radius: 8px;
      box-sizing: border-box;
      border: 1px solid transparent;
      padding: 12px 75px 11px 10px;
      margin: 3px auto;
      box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    }

    .get-quote-button {
      align-self: center;
      width: 160px;
      height: auto;
      padding: 10px 20px;
      background-color: #003C7B;
      color: #FFFFFF;
      border: 1px solid transparent;
      border-radius: 33px;
      margin: auto;
    }
  }
}
